body{
    background-color: #8BC6EC;
}

.columns-header{
    display: flex;
}

.columns-header input{
    margin-top: 30px;
    height: 20px;
    width: 95%;
    text-align: center;
}

.columns-header textarea{
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    text-align: center;
}

.columns-header .new-column-button{
    width: 100%;
    justify-content: center;
}

.columns {
    display: inline-block;
    margin: 10px;
    width: 20rem;
    text-align: center;
}

.new-column-input{
    width: 95%;
}